/* 色 */
$baseGreen: #81b67f;
$highlightGreen: #92d98d;
$baseSkin: #e9d1b9;
$shadowSkin: #e2aa85;
$highlightBlue: #9fecf4;
$baseBlue: #91d1da;
$shadowBlue: #7ab6be;
$gray: #6c757d;

/* 画像 */
$backgroundImage: "images/background.jpg";
$backgroundImage-mobile: "images/background-mini.jpg";
$bottleImage: "images/bottle.svg";


html body {
    height: 100%;
    color: $gray;
    font-size: 14px;
    
}

.wrapper {
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-image: url($backgroundImage);
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    background-blend-mode: lighten;
    

    .navbar-light {
        .navbar-brand {
            color: white;
        }
    }
    .navbar {
        background: $shadowBlue;
    }
    .arrived-messages {
        /*background-image: url($bottleImage);
        height: 100px;
        width: 400px;
        left: 0;*/
        position: relative;
        padding: 1em 1.5em;
        margin: 2em 0;
        border: solid 3px $shadowBlue;/*線*/
        border-radius: 8px;/*角の丸み*/

        p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .title {
            position: absolute;
            display: inline-block;
            top: -13px;
            left: 10px;
            padding: 0 10px;
            background: #ffffff;
            color: $shadowBlue;
        }
    }

    .container {
        height: 100vh;
        .message-link{
            color: $shadowBlue;
        }

    }

}


form {
    position: relative;
    z-index: 1;
    .form-control  {
        opacity: 0.7;
    }
    button {
        margin-bottom: 3%;
    }
}
textarea.form-control{
    height: 30%;
}

.card {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    background-blend-mode: lighten;
    z-index: 1;
}


.btn-primary {
    background-color: $shadowBlue;
    border-color: $shadowBlue;
   
}
.btn-primary:hover {
    background-color: white;
    border-color: $baseBlue;
    color: $shadowBlue;
}

.btn-green {
    color: white;
    border-color: $baseGreen;
    background-color: $baseGreen;
}

.btn-green:hover {
    border-color: $baseGreen;
    color: $baseGreen;
}

/* なみなみ  */
svg {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.messages {
    position: relative;
    width: 90%;
    margin: 2.5em auto;
    padding: 35px 20px 10px;
    background-color: #e8ddbd; /*枠背景色*/
    box-shadow: inset 0 0 40px $baseSkin, 0 2px 2px $shadowSkin;

    .ellipsis-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.messages::before {
    display: block;
    position: absolute;
    content: "";
    width: 140px;
    height: 35px;
    left: 35%;
    top: -16px;
    background-color: rgba(145, 209, 218,0.4);/*テープ色*/
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    transform: rotate( -3deg ); /*テープ角度*/
}

.intro-box {
            background-color: rgba(255, 255, 255, 0.4);
            border: solid 3px #91d1da;
            border-radius: 8px;
            z-index: 1;
}


footer {
    background-color: $shadowBlue;
    width:100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -30px;
    p {
        color: white;
        text-align: center;
        a {
            color: white;
            vertical-align: middle;
        }
        
    }
    
}

/*  間隔調節用の空要素 */
.push {
    height: 50px;
}

@media screen and (min-height:600px) {
    footer {
        height: 50px;
    }
}
@media screen and (max-width: 450px){
    .wrapper {
        background-image: url($backgroundImage-mobile);
    }
}