/* 色 */
$baseGreen: #81b67f;
$highlightGreen: #92d98d;
$baseSkin: #e9d1b9;
$shadowSkin: #e2aa85;
$highlightBlue: #9fecf4;
$baseBlue: #91d1da;
$shadowBlue: #7ab6be;

.navbar-brand {
    color: white;
}
.navbar {
    background: #7ab6be;
}