{% extends "floattle/base.html" %}
{% block content %}
<p>post detail</p>
<table class="table">
    <tbody>
        <tr>
            <th>メッセージ番号</th>
            <td>{{ post.id }}</td>
        </tr>
        <tr>
            <th>メッセージ</th>
            <td>{{ post.text }}</td>
        </tr>
        <tr>
            <th>キープ</th>
            <td>
            <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" action="keep">
                {% if keeped %}
                キープ済み
                {% else %}
                キープする
                {% endif %}
                </button>
            </form>
            </td>
            
            
        </tr>
    </tbody>
</table>
{% endblock %}