{% extends "floattle/base.html" %}
{% block content %}
<p>message detail</p>
<div class="messages">
    <p>
        <a href="{% url 'floattle:detail' post.pk %}" class="message-link">{{ post.text }}</a><br><br>
        {% if post.date_published %}
        {{ post.date_published }}
        {% else %}
        日付不明
        {% endif %}
    </p>
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" action="keep" class="btn-primary">
            {% if keeped %}
            キープを取り消す
            {% else %}
            キープする
            {% endif %}
        </button>
    </form>
</div>
{% endblock %}