{% extends "floattle/base.html" %}
{% block content %}
<!-- ログイン部分 -->
<form action="" method="POST">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                {{ form.non_field_errors }}
                {% for field in form %}
                {{ field }}
                {{ field.errors }}
                <hr>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-lg btn-block">ログイン</button>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </div>
        </div>
    </div>
</form>
<!-- アカウント登録部分 -->
<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-body">
            <a href="{% url 'floattle:user_create' %}" class="btn btn-primary btn-lg btn-block btn-green">アカウント登録</a>
            <a href="{% url 'floattle:password_reset' %}" class="btn btn-primary btn-lg btn-block btn-green">パスワードを忘れた方</a>
        </div>
    </div>
    
</div>
   
<!-- SVG -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path id="wave" d="" />
</svg>
{% endblock %}