{% extends "floattle/base.html" %}
{% block content %}
<!-- ログイン部分 -->
<form action="" method="POST">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                {{ form.non_field_errors }}
                {% for field in form %}
                {{ field }}
                {{ field.errors }}
                <hr>
                {% endfor %}
                <button type="submit" class="btn btn-success btn-lg btn-block">ログイン</button>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </div>
        </div>
    </div>
</form>
<!-- アカウント登録部分 -->
<div class="card col-md-6">
    <div class="card-body">
        <a href="{% url 'floattle:user_create' %}" class="btn btn-success btn-lg btn-block">アカウント登録</a>
        <a href="{% url 'floattle:password_reset' %}" class="btn btn-success btn-lg btn-block">パスワードを忘れた方</a>
    </div>
</div>
   
{% endblock %}