{% extends "floattle/base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
    <div class="arrived-messages">
    {% if pickup_post_list %}
        <span class="title">漂着したメッセージ</span>
        {% for post in pickup_post_list %}
        <p>
            <a href="{% url 'floattle:detail' post.pk %}" class="message-link">{{ post.text }}</a>
        </p>
        {% endfor %}

    {% else %}
        <p>漂着物は届いていません。<br></p>
    {% endif %}
    </div>
    <form action="" method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">流す</button>
    </form>
{% else %}
    <p><a href="{% url 'floattle:login' %}" class="message-link">ログイン</a>ユーザーのみ見れるようになっています。</p>
    {% include 'floattle/introduce.html' %}
    
{% endif %}
<!-- SVG -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path id="wave" d="" />
</svg>

{% endblock %}