{% extends "floattle/base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
    {% if pickup_post_list %}
        <div class="arrived-messages">
            <p class="title">漂着したメッセージ</p>
            {% for post in pickup_post_list %}
            <p>
                <a href="{% url 'floattle:detail' post.pk %}">{{ post.text }}</a><br>
                {% if post.date_published %}
                    {{ post.date_published }}
                {% else %}
                    日付不明
                {% endif %}
            </p>
            {% endfor %}
        </ul>

    {% else %}
        <p>漂着物は届いていません。<br>
        </p>
    {% endif %}
    <form action="" method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">流す</button>
    </form>
{% else %}
    <p>ログインユーザーのみ見れるようになってます</p>
{% endif %}


{% endblock %}